/**
*   _____
 * () | ,_   _,         ,   _   _   ,_   _
 *    |/  | / |  /|/|  / \_/   / \_/  | / \_
 *  (/    |/\/|_/ | |_/ \/ \__/\_/    |/\_/
 *
 *  Transcoro Software 2018 || The power of proyects
**/

#sideMenu {
    -fx-pref-width: 300;
    -fx-background-color: #fafafa;
    -fx-font-family: Roboto;
    -fx-padding: 0 15 0 15;
}

#upperMenu {
    -fx-background-color: #ffffff;
    -fx-pref-height: 60;
}

#contentCenter, #contentCenter #contentScroll {
    -fx-background-color: #fafafa;
}